/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "theme/agency";

img.team-face{
  width:225px;
  height:225px;
}

img.social {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: -10px;
  border: 2px solid #ccc;
}

.dropdown.open{
  ul, ul > a, ul:hover, ul:hover > a:hover {
    background: black !important;
  }
  a, a:hover {
    background: transparent !important;
  }
}

.navbar-dashboard {
  background-color: black !important;
  padding: 0 !important;
  padding-top: 8px !important;

  .dropdown.open{
    ul, ul > a, ul:hover, ul:hover > a:hover {
      background: black !important;
    }
    a, a:hover {
      color: white;
    }
  }

 .navbar-brand {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    margin: 0 !important;
    font-size: 2em !important;
 }
}

.alert {
  float: none;
  position: absolute;
  z-index: 99999;
  top: 100px;
  right: 10px;
}
